<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RaceKattes forside</title>

  <link rel="stylesheet" th:href="@{/css/indexCSS.css}">
</head>
<body>

<h1>RaceKattes Forside!</h1>

<div class="welcomeText">
  <h2>Velkommen til RaceKattes Forside!</h2>
  <p>Klik på din ønskede valgmulighed nedenfor</p>
</div>
<div class="button-container">

  <div class="leftButton">
    <button>Login</button>
  </div>

  <div class="centerButton">
    <button>test</button>
  </div>

  <div class="rightButton">
    <button>test</button>
  </div>
</div>

</body>
</html>