<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
  <link rel="stylesheet" th:href="@{/css/registerCSS.css}">
</head>
<body>

<div class="registerBox">
  <div class="RegisterInput">
    <label for="username">Brugernavn</label>
    <input type="text" id="username">
    <label for="password">Adgangskode</label>
    <input type="password" id="password">

    <button type="submit" class="registerButton">Opret bruger</button>
    <button type="submit" class="returnButton">Returner til Login</button>

  </div>
</div>
</body>
</html>